<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>OptBench: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sorttable.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": {scale: 95},
      });
    </script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
    
    <script type="text/javascript">
      $(function () {
          $('[rel=tooltip]').tooltip();
          
          $('.collapse').hide();

          $('.collapse').on('show', function () {
            $(this).show();
          }).on('hidden', function () {
            $(this).hide();
          });
      });
    </script>

  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><a href="index.html" id="title">OptBench</a></h1>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
